<h1>Chart#single</h1>
<p>Find me in app/views/chart/single.html.erb</p>
<hr>
<canvas id="chart1" width="400" height="400"></canvas>
<hr>
<canvas id="chart2" width="400" height="400"></canvas>


<script>
var ctx = document.getElementById('chart1').getContext('2d');
var myChart = new Chart(ctx, {
  type: 'pie',
  data: {
    labels: <%= @labels.to_json.html_safe %>,
    datasets: [{
      label:           '<%= @data1_label %>',
      data:             <%= @data1_data.to_json.html_safe %>,
      backgroundColor:  <%= @data1_backgroundColor.to_json.html_safe %>
    }]
  },
  options: {
    responsive: false
   }
});
</script>

<script>
var ctx = document.getElementById('chart2').getContext('2d');
var myChart = new Chart(ctx, {
  type: 'doughnut',
  data: {
    labels: <%= @labels.to_json.html_safe %>,
    datasets: [{
      label:           '<%= @data1_label %>',
      data:             <%= @data1_data.to_json.html_safe %>,
      backgroundColor:  <%= @data1_backgroundColor.to_json.html_safe %>
    }]
  },
  options: {
    responsive: false
   }
});
</script>
